
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 'Poppins', sans-serif;
}

#iconGirl{
    max-width: 700px; /* Image won’t exceed 300px in width */
  height: auto;
}
#iconHook{
    max-width: 100px; /* Image won’t exceed 300px in width */
  height: auto;
}
.navbar {
    font-family: 'Poppins', sans-serif;
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 300; /* Bold */
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 300; /* Regular */
}

.dropdown-toggle {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.dropdown-item {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.offcanvas-body {
    font-family: 'Poppins', sans-serif;
}

@media(max-width: 991px){
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}

#dropdownMenuButton {
    background-color: transparent;
    color: black;
    border: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.dropdown-menu {
    background-color: transparent;
    box-shadow: none;
    border: 0;
}

#theme-icon {
    cursor: pointer; 
}


.themed-grid-col {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  
  
  
}

#home-heading{
    padding-top: 200px;
    text-align: start;
    padding-left: 200px;
    font-size: large;
}


