@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: "Ubuntu Mono", sans-serif;
    color: white;
    font-family: "Ubuntu Mono", sans-serif;

}
body{
  background-color: black;
}
#iconGirl{
    max-width: 700px; 
  height: auto;
}
#iconHook{
    max-width: 100px; 
  height: auto;
}
.navbar {
    font-family: "Ubuntu Mono", sans-serif;
}

.navbar-brand, .nav-link, .dropdown-toggle, .dropdown-item{
    font-family: "Ubuntu Mono", sans-serif;
    font-weight: 400; 
}

.offcanvas-body {
    font-family: "Ubuntu Mono", sans-serif;
}

@media(max-width: 991px){
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }

    #icons-social-media{
        display: flex;
        justify-content:center;
        color: black;
        border: 2px;
        position: relative;
        padding-right: 50px;
       
      }
    
    
      #iconLinked{
        display: flex;
        align-items:end;
        position: relative;
        
      }


}

#dropdownMenuButton {
    background-color: transparent;
    color: black;
    border: 0;
    font-family: "Fredoka", sans-serif;
    font-weight: 300;
}

.dropdown-menu {
    background-color: transparent ;
    box-shadow: none;
    border: 0;
}

#theme-icon {
    cursor: pointer; 
    
}


.themed-grid-col {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;

  
  
  
}

#home-heading{
    padding-top: 200px;
    text-align: start;
    padding-left: 200px;
    font-size: large;
    font-family: "Ubuntu Mono", sans-serif;
    font-weight: 300;
   

  }



#icons-social-media{
    display: flex;
    justify-content: end;
    position: relative;
    padding-left: 50px;
  
    
  }


  #iconLinked, #iconGit{
    max-width: 50px;
    height: auto;
    position: relative;
    padding-left: 20px;
    
    
  }


#about-title{
  text-align: center;
}
  
#aboutSection{
 
  padding: 500px;
  
  

}

#aboutImg{
  max-width: 400px;
  height: auto;
  position: relative;
  padding-bottom: 50px;
  align-items: end;
  padding: 100px;
  position: relative;
  border: 2px solid ;
  border-color: aqua;
}

#about-description{
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 50px;
}

#button-cv{
  align-items: center;
  display: flex;
  padding: 100px;
  justify-content: center;
  position: relative;
  padding-top: 50px;
}

